{% extends 'base.html' %}
{% load static %}

{% block title %}LG Associados{% endblock title%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/listas.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/mensagens.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive_patch.css' %}">    
{% endblock %}

{% block content %}
{% include 'components/navbar_superuser.html' %}

<div class="lista-container">
    <h1>Lista de Associados</h1>
    
    <div id="toast-container">
        {% for message in messages %}
            {% with message.tags as tag %}
                <div class="toast 
                    {% if 'success' in tag %}toast-success{% elif 'error' in tag or 'danger' in tag %}toast-error
                    {% elif 'info' in tag %}toast-info
                    {% elif 'warning' in tag %}toast-warning
                    {% else %}toast-info{% endif %}">
                    <span>{{ message }}</span>
                    <button class="toast-close" onclick="this.parentElement.remove()">×</button>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
    <form method="get" autocomplete="off">
        <div class="form-grid grid-4-cols">
            <div class="form-group">
                {{ search_form.nome.label_tag }}
                {{ search_form.nome }}
            </div>
            <div class="form-group">
                {{ search_form.associacao.label_tag }}
                {{ search_form.associacao }}
            </div>
            <div class="form-group">
                {{ search_form.reparticao.label_tag }}
                {{ search_form.reparticao }}
            </div>
            <div class="form-group">
                {{ search_form.status.label_tag }}
                {{ search_form.status }}
            </div>
        </div>
        <div class="text-right">
            <button type="submit">Buscar</button>
            <a href="{% url 'app_associados:list_associados' %}" class="btn btn-secondary">Limpar</a>
        </div>
    </form><br>

    <table class="table-list">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Gov</th>
                <th>Cel</th>
                <th>Circunscrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for associado in associados %}
            <tr>
                <td data-label="Associado">
                    <a href="{% url 'app_associados:single_associado' associado.pk %}" class="link-associado-list">
                        {{associado.user.get_full_name}}
                    </a>
                    
                </td>

                <td data-label="CPF">
                    <div class="copy-wrapper" style="display: flex; align-items: center;">
                        <span id="cpf-{{ associado.pk }}">{{ associado.cpf }}</span>
                        <button type="button" onclick="copyToClipboard('cpf-{{ associado.pk }}', this)" class="copy-btn" title="Copiar CPF" style="margin-left:5px;">
                            <i class="material-icons" style="font-size:14px;">content_copy</i>
                        </button>
                    </div>
                </td>
                <td data-label="Gov">
                    <div class="copy-wrapper" style="display: flex; align-items: center;">
                        <span id="senha_gov-{{ associado.pk }}">{{ associado.senha_gov }}</span>
                        <button type="button" onclick="copySenhas('senha_gov-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Senha Gov" style="margin-left:5px;">
                            <i class="material-icons" style="font-size:14px;">content_copy</i>
                        </button>
                    </div>
                </td>
                <td data-label="Celular">
                    <div class="copy-wrapper" style="display: flex; align-items: center;">
                        <span id="celular-{{ associado.pk }}">{{ associado.celular }}</span>
                        <button type="button" onclick="copySenhas('celular-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Senha Gov" style="margin-left:5px;">
                            <i class="material-icons" style="font-size:14px;">content_copy</i>
                        </button>
                    </div>
                </td>                
                <td>{{associado.municipio_circunscricao}}</td>
                <td>
                    <a href="{% url 'app_associados:single_associado' associado.pk %}" title="Ver"><span class="material-icons icon-view">visibility</span></a>
                    <a href="{% url 'app_associados:edit_associado' associado.pk %}" title="Editar"><span class="material-icons icon-edit">edit</span></a>
                    <a href="#" title="Excluir"><span class="material-icons icon-delete">delete</span></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">Nenhuma associado encontrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% block extra_js %}
    <script src="{% static 'js/copy_to_clipboard.js' %}"></script>
    <script src="{% static 'js/copy_senhas.js' %}"></script>
{% endblock %}

{% endblock %}    