{% extends 'base.html' %}

{% load static %}

{% block title %}APAPESC - Home {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive_patch.css' %}">
    <link rel="stylesheet" href="{% static 'css/mensagens.css' %}">
{% endblock %}

<!--Bloco Página -->
{% block content %}
{% include 'components/navbar_home.html' %}


    <div id="toast-container">
        {% for message in messages %}
            {% with message.tags as tag %}
                <div class="toast 
                    {% if 'success' in tag %}toast-success{% elif 'error' in tag or 'danger' in tag %}toast-error
                    {% elif 'info' in tag %}toast-info
                    {% elif 'warning' in tag %}toast-warning
                    {% else %}toast-info{% endif %}">
                    <span>{{ message }}</span>
                    <button class="toast-close" onclick="this.parentElement.remove()">×</button>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
    <body style="background-color:#b7dbff; margin:0;">

        <div class="hero-wrapper">
            <div class="hero-apapesc">
                <img src="{% static 'img/Mascote_Taiacan_2025.jpeg' %}" alt="Logo ou barquinho" style="max-height: 80px; margin-bottom: 16px;">
                <h3 class="fade-in">Sistema APAPESC</h3>                    
                <p class="fade-in delay-1">Gestão da Associação e Associados</p>
                <p class="fade-in delay-2">Seja bem-vindo(a), {{ user.username }}!</p>                   
                <a href="{% url 'app_accounts:dashboard_superuser' %}" class="btn-hero fade-in delay-3">📊 Acessar</a>                   
            </div>
             
            <div class="hero-links">
                {% if user.is_authenticated %}
                <p><a href="{% url 'app_accounts:dashboard_superuser' %}">Ir para o Dashboard</a></p>
                <p><a href="{% url 'account_logout' %}">Logout</a></p>
                {% else %}
                <p>Faça o Login</p>
                {% endif %}
            </div>
            {% for obj in ApapescHome %}
                <div class="hero-content">
                    <h1>{{ obj.titulo }}</h1>
                    <small>{{ obj.descricao }}</small>
                </div>
            {% endfor %}              
        </div>
    </body>
    {% include "components/footer.html" %}
{% endblock %}