version: '3.9'

services:
  db:
    image: postgres:16
    container_name: dataApapescProd
    restart: unless-stopped
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
    env_file:
      - .env.prod

    ports:
      - "5432:5432"
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: Apapesc_container_prod
    command: >
      gunicorn zzApp_core.wsgi:application --bind 0.0.0.0:8000 --workers 4 --timeout 120
    env_file:
      - .env.prod
    environment:
      DJANGO_SETTINGS_MODULE: zzApp_core.settings_production
    volumes:
      - .:/code
      - static_volume:/code/staticfiles
      - media_volume:/code/media
    depends_on:
      - db
    ports:
      - "8000:8000"

  nginx:
    image: nginx:alpine
    container_name: nginx_apapesc
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/code/staticfiles
      - media_volume:/code/media
    depends_on:
      - web

volumes:
  postgres_data_prod:
  static_volume:
  media_volume:
