
{% extends 'base.html' %}

{% load static %}
{% block title %}Ax. Ass - Dash {% endblock %}
<!--Bloco Página -->
{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/dash_auxiliar_associacao.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/tabs.css' %}">
    <link rel="stylesheet" href="{% static 'css/listas.css' %}">
    <link rel="stylesheet" href="{% static 'css/mensagens.css' %}">  
    <link rel="stylesheet" href="{% static 'css/responsive_patch.css' %}">
{% endblock %}
{% block content %}
{% include "components/navbar_aux_associacao.html" %}

    <div class="dashboard-container">
        <div id="toast-container">
            {% for message in messages %}
                {% with message.tags as tag %}
                    <div class="toast 
                        {% if 'success' in tag %}toast-success{% elif 'error' in tag or 'danger' in tag %}toast-error
                        {% elif 'info' in tag %}toast-info
                        {% elif 'warning' in tag %}toast-warning
                        {% else %}toast-info{% endif %}">
                        <span>{{ message }}</span>
                        <button class="toast-close" onclick="this.parentElement.remove()">×</button>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
        
        <div class="dashboard-section">
            <small>Este é o painel de controle visível AUxiliar da Associação.</small>
            <h4>Links Rápidos</h4>
            <div class="section-content">
                <div class="card">
                    <h3>Lista de Associados</h3>
                    <a href="{% url 'app_associados:list_associados' %}" class="btn-action">Ver Lista</a>
                </div>
                <div class="card">
                    <h3>Lista de Serviços</h3>
                    <a href="{% url 'app_servicos:list_servicos' %}" class="btn-action">Ver Lista</a>
                </div>
                <div class="card">
                    <h3>Lançamentos INSS</h3>
                    <a href="{% url 'app_inss:lancamentos_inss' %}" class="btn-action">Acessar</a>
                </div>
                <div class="card">
                    <h3>Lançamentos REAP</h3>
                    <a href="{% url 'app_reap:lancamentos_reap' %}" class="btn-action">Acessar</a>
                </div>
                <div class="card">
                    <h3>Lançamentos DEFESO</h3>
                    <a href="{% url 'app_defeso:lancamento_defeso' %}" class="btn-action">Acessar</a>
                </div>              
            </div>
        </div>
    </div>
{% endblock %}