{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

<nav class="navbar">
    <div class="navbar-container">
        <a href="#" class="navbar-logo" style="display: flex; align-items: center; justify-content: center;">
            <img src="{% static 'img/Logo_Apapesc_2025.png' %}" alt="Logo Apapesc" style="width: 40px; height: 40px; border-radius: 6px; object-fit: cover;">
        </a>
        
        <button class="navbar-toggle" onclick="toggleMenu()">☰</button>
    </div>
</nav>
{% block extra_js %}
<script>
function toggleMenu() {
    document.getElementById('navbar-menu').classList.toggle('open');
}
</script>
{% endblock %}
