{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

    <nav class="navbar">
        <div class="navbar-container">
                <a href="#" class="navbar-logo" style="display: flex; align-items: center; justify-content: center;">
                    <img src="{% static 'img/Logo_Apapesc_2025.png' %}" alt="Logo Apapesc" style="width: 40px; height: 40px; border-radius: 6px; object-fit: cover;">
                </a>
                <div class="navbar-links" id="navbar-menu">                
                {% if user.is_authenticated %}
                    <div class="user-info">
                        👤<span class="nav-user-info"> {{ user.first_name|default:user.username }}</span>
                        <a href="{% url 'account_logout' %}">Logout</a>
                    </div>
                {% else %}
                    <a href="{% url 'account_login' %}">Login</a>
                    <a href="{% url 'account_signup' %}">Cadastro</a>
                {% endif %}        
                <button class="navbar-toggle" onclick="toggleMenu()">☰</button>
            </div>
        </div>
    </nav>

{% block extra_js %}
<script>
function toggleMenu() {
    document.getElementById('navbar-menu').classList.toggle('open');
}
</script>
{% endblock %}
