        <div>
            <div class="identidade-grid" style="background-color:rgba(248, 252, 253, 1); padding: 20px; border-radius: 8px;">
                <h2>Identidade CIN / CPF</h2>
                <div class="copy-wrapper">
                    🗂️<p id="cpf-{{ associado.pk }}" style="color:red;"><strong>CPF:</strong> {{ associado.cpf }}</p>
                    <button onclick="copyToClipboard('cpf-{{ associado.pk }}', this)" class="copy-btn" title="Copiar CPF">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>           
                <div class="copy-wrapper">
                    ⚠️<p id="senha_gov-{{ associado.pk }}" style="color:red;"><strong>Senha Gov:</strong> {{ associado.senha_gov }}</p>
                    <button onclick="copySenhas('senha_gov-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Senha Gov">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>                
                <div class="copy-wrapper">
                    <p id="rg_numero-{{ associado.pk }}"><strong>RG:</strong> {{ associado.rg_numero }}</p>
                    <button onclick="copyToClipboard('rg_numero-{{ associado.pk }}', this)" class="copy-btn" title="Copiar RG">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>
                <p><strong>Órgão Emissor:</strong> {{ associado.rg_orgao }}</p>

                <div class="copy-wrapper">
                    <p id="rg_data_emissao-{{ associado.pk }}"><strong>Data Emissão:</strong> {{ associado.rg_data_emissao|date:"d/m/Y" }}</p>
                    <button onclick="copyToClipboard('rg_data_emissao-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Data Emissão RG">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>
                <div class="copy-wrapper">
                    <p id="data_nascimento-{{ associado.pk }}"><strong>Data Nascimento:</strong> {{ associado.data_nascimento|date:"d/m/Y"  }}</p>
                    <button onclick="copyToClipboard('data_nascimento-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Data Nescimento">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>
                <div class="copy-wrapper">
                    <p id="naturalidade-{{ associado.pk }}"><strong>Naturalidade:</strong> {{ associado.naturalidade }}</p>
                    <button onclick="copyToClipboard('naturalidade-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Naturalidade">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>
                <div class="copy-wrapper">
                    <p id="nome_pai-{{ associado.pk }}"><strong>Nome Pai:</strong> {{ associado.nome_pai }}</p>
                    <button onclick="copyToClipboard('nome_pai-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Nome Pai">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>
                <div class="copy-wrapper">
                    <p id="nome_mae-{{ associado.pk }}"><strong>Nome Mãe:</strong> {{ associado.nome_mae }}</p>
                    <button onclick="copyToClipboard('nome_mae-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Nome Mãe">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>
            </div>
        </div><br>

        <div class="detail-section three-cols">
            <div>
                
                <h2>RGP e End</h2>
                <div class="copy-wrapper">
                    <p id="rgp-{{ associado.pk }}"><strong>RGP:</strong> {{ associado.rgp }}</p>
                    <button onclick="copyToClipboard('rgp-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Número RGP">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>                
                <div class="copy-wrapper">
                    <p id="rgp_mpa-{{ associado.pk }}"><strong>Órgão Emissor:</strong> {{ associado.rgp_mpa }}</p>
                    <button onclick="copyToClipboard('rgp_mpa-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Órgão Emissor">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>           
                <div class="copy-wrapper">
                    <p id="rgp_data_emissao-{{ associado.pk }}"><strong>Data Emissão:</strong> {{ associado.rgp_data_emissao|date:"d/m/Y" }}</p>
                    <button onclick="copyToClipboard('rgp_data_emissao-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Data Emissão">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>
                <div class="copy-wrapper">
                    <p id="primeiro_registro-{{ associado.pk }}"><strong>Primeiro Registro:</strong> {{ associado.primeiro_registro|date:"d/m/Y" }}</p>
                    <button onclick="copyToClipboard('primeiro_registro-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Primeiro Registro">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>   
                <!--End-->
                <div class="copy-wrapper">
                    <p id="cep-{{ associado.pk }}"><strong>CEP:</strong> {{ associado.cep }}</p>
                    <button onclick="copyToClipboard('cep-{{ associado.pk }}', this)" class="copy-btn" title="Copiar">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>  
                <div class="copy-wrapper">
                    <p id="end-{{ associado.pk }}"><strong>End:</strong> {{ associado.logradouro }},
                        {{ object.associado.numero }}, {{ associado.complemento }}, {{ associado.municipio }}, {{ associado.uf }}</p>
                    <button onclick="copyToClipboard('end-{{ associado.pk }}', this)" class="copy-btn" title="Copiar">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>                 
            </div>  

            <div>
                <h2>Documentos Cidadania</h2>
                <div class="copy-wrapper">
                    <p id="titulo_eleitor-{{ associado.pk }}"><strong>No Título:</strong> {{ associado.titulo_eleitor }}</p>
                    <button onclick="copyToClipboard('titulo_eleitor-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Número Título">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>   
                <div class="copy-wrapper">
                    <p id="pis-{{ associado.pk }}"><strong>No PIS:</strong> {{ associado.pis }}</p>
                    <button onclick="copyToClipboard('pis-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Número PIS">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>                
                <div class="copy-wrapper">
                    <p id="nit-{{ associado.pk }}"><strong>No NIT:</strong> {{ associado.nit }}</p>
                    <button onclick="copyToClipboard('nit-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Número NIT">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>                
                <div class="copy-wrapper">
                    <p id="caepef-{{ associado.pk }}"><strong>No CAEPF:</strong> {{ associado.caepef }}</p>
                    <button onclick="copyToClipboard('caepef-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Número CAEPF">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>                
                <div class="copy-wrapper">
                    <p id="cei-{{ associado.pk }}"><strong>No CEI:</strong> {{ associado.cei }}</p>
                    <button onclick="copyToClipboard('cei-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Número CEI">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>               
            </div>


            <div>
                <h2>Carteira de Trabalho</h2>
                <div class="copy-wrapper">
                    <p id="ctps-{{ associado.pk }}"><strong>No Registro:</strong> {{ associado.ctps }}</p>
                    <button onclick="copyToClipboard('ctps-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Número CTPS">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>                
                <div class="copy-wrapper">
                    <p id="ctps_data_emissao-{{ associado.pk }}"><strong>Data Emissão:</strong> {{ associado.ctps_data_emissao|date:"d/m/Y" }}</p>
                    <button onclick="copyToClipboard('ctps_data_emissao-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Data Emissão">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>                
                <div class="copy-wrapper">
                    <p id="ctps_serie-{{ associado.pk }}"><strong>No Série:</strong> {{ associado.ctps_serie }}</p>
                    <button onclick="copyToClipboard('ctps_serie-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Número Série">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>                      
                <p><strong>UF:</strong> {{ associado.ctps_uf }}</p>
            </div>

            <div>
                <h2>Carteira Motorista</h2>
                <div class="copy-wrapper">
                    <p id="cnh-{{ associado.pk }}"><strong>No Registro:</strong> {{ associado.cnh }}</p>
                    <button onclick="copyToClipboard('cnh-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Número Registro">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>                
                <div class="copy-wrapper">
                    <p id="cnh_data_emissao-{{ associado.pk }}"><strong>Data Emissão:</strong> {{ associado.cnh_data_emissao|date:"d/m/Y" }}</p>
                    <button onclick="copyToClipboard('cnh_data_emissao-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Data Emissão">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>
                <div class="copy-wrapper">
                    <p id="cnh_data_validade-{{ associado.pk }}"><strong>Data Validade:</strong> {{ associado.cnh_data_validade|date:"d/m/Y" }}</p>
                    <button onclick="copyToClipboard('cnh_data_validade-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Data Validade">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>
                <p><strong>UF:</strong> {{ associado.cnh_uf }}</p>
            </div>


            <div>
                <h2>Contato</h2>
                <div class="copy-wrapper">
                    <p id="celular-{{ associado.pk }}"><strong>Celular:</strong> {{ associado.celular }}</p>
                    <button onclick="copyToClipboard('celular-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Celular da Associação">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>

                <div class="copy-wrapper">
                    <p id="celular-correspondencia-{{ associado.pk }}"><strong>Celular:</strong> {{ associado.celular_correspondencia }}</p>
                    <button onclick="copyToClipboard('celular-correspondencia-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Celular">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>
                <div class="copy-wrapper">
                    <p id="email-{{ associado.pk }}"><strong>Email:</strong> {{ associado.email }}</p>
                    <button onclick="copyToClipboard('email-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Email">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>

                <div class="copy-wrapper">
                    <p id="senha-site-{{ associado.pk }}"><strong>Senha Site:</strong> {{ associado.senha_site }}</p>
                    <button onclick="copySenhas('senha-site-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Senha Site">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>

                <div class="copy-wrapper">
                    <p id="senha-google-{{ associado.pk }}"><strong>Senha Google:</strong> {{ associado.senha_google }}</p>
                    <button onclick="copySenhas('senha-google-{{ associado.pk }}', this)" class="copy-btn" title="Copiar Senha Google">
                        <i class="material-icons">content_copy</i>
                    </button>
                </div>

            </div>                                                          
        </div>